<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AddWindowImage" value="1" />
		<add key="CaptureOnce" value="0" />
		<add key="CrlChecking" value="0" />
		<add key="EnvelopingFlag" value="2" />
		<add key="PhysicalSignatureFile" value="" />
		<add key="PhysicalSignatureUsage" value="2" />
		<add key="TimeStampURL" value="http://time-b.timefreq.bldrdoc.gov:13" />
		<add key="TimeStamping" value="0" />
		<add key="DoDCompliance" value="0" />
		<add key="CertificateTrustExplicit" value="0" />
		<add key="TrustedRootCount" value="2" />
		<add key="TrustedRoot" value="C:\temp\trstedRoot_1.cer" />
		<add key="TrustedRoot" value="C:\temp\trstedRoot_2.cer" />
		<add key="CertificatePolicyExplicit" value="0" />
		<add key="CertificatePathLengthChecking" value="0" />
		<add key="CertificateChainValidation" value="0" />
		<add key="CertificatePolicyChecking" value="0" />
		<add key="CertificatePolicyCount" value="2" />
		<add key="CertificatePolicy" value="1.0.3.4.5.6" />
		<add key="CertificatePolicy" value="1.0.3.4.5.6.7.8" />
		<add key="CRLLocationCount" value="2" />
		<add key="CRLLocation" value="C:\temp\MyCrl_0.crl" />
		<add key="CRLLocation" value="C:\temp\MyCrl_1.crl" />
		<add key="OverwriteFile" value="1" />
		<add key="ExcludeSignerCertificate" value="0" />
		<add key="DetailedVerificationFlag" value="0" />
		<add key="Base64EncodeXML" value="0" />
		<add key="CamServerHost" value="www.infomosaic.com" />
		<add key="CamServerPort" value="7777" />
		<add key="UseCam" value="0" />
		<add key="AgencyId" value="AA_Agency_Id" />
	</appSettings>
</configuration>
